<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goclass.mapper.PopulationMapper">
<!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
 resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表 -->
	<select id="selectNumberOfStudentByCombinationId" resultType="int"> 
	select count(course_combination_id) from tb_selection_detailed where
	 course_combination_id = #{id} </select>
	 <select id="selectNumberOfTeacherBySubjectId" resultType="int">
	 select count(subject_id) from tb_teacher where 
	 subject_id = #{id}</select>
</mapper>