<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//
EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.web.model.business.cg.mapper.PopulationMapper"> 
<!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
 resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表 -->
	<select id="selectNumberOfStudentByCombinationId" resultType="int"> 
	select count(course_combination_id) from tb_selection_detailed where
	 course_combination_id = #{id} </select>
	 <select id="selectNumberOfTeacherBySubjectId" resultType="int">
	 select count(subject_id) from tb_teacher where 
	 subject_id = #{id}</select>
	 <select id="selectStudentBySection" resultType="map">
	 select tb_student.student_id , tb_student.student_name ,  
	 tb_selection_detailed.course_combination_id 
	 from tb_student left join tb_selection_detailed on tb_student.student_id
	 = tb_selection_detailed.student_id where 
	 tb_selection_detailed.course_combination_id = #{selectionId};
	 </select>
	 <select id="selectAllStudent" resultType="map">
	 select * from tb_selection_detailed</select>
	 <select id="selectStudentById" resultType="map">
	 select tb_student.student_id , tb_student.student_name ,tb_selection_detailed.course_combination_id 
	  from tb_student left join tb_selection_detailed on tb_student.student_id = tb_selection_detailed.student_id
	   where tb_student.student_id=#{id}</select>
	 <select id="selectTeacherBySubject" resultType="map">
	 select teacher_id,teacher_name,course_name from tb_teacher 
	  where course_name=#{subjectName}</select>
	 
</mapper>