<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goclass.mapper.SelectiondetailedMapper">
  <resultMap id="BaseResultMap" type="com.goclass.pojo.Selectiondetailed">
    <id column="selection_detailed_id" jdbcType="BIGINT" property="selectionDetailedId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="course_combination_id" jdbcType="INTEGER" property="courseCombinationId" />
    <result column="course_combination_name" jdbcType="VARCHAR" property="courseCombinationName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    selection_detailed_id, student_id, course_combination_id, course_combination_name, 
    gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.goclass.pojo.SelectiondetailedExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_selection_detailed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_selection_detailed
    where selection_detailed_id = #{selectionDetailedId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_selection_detailed
    where selection_detailed_id = #{selectionDetailedId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.goclass.pojo.SelectiondetailedExample">
    delete from tb_selection_detailed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.goclass.pojo.Selectiondetailed">
    insert into tb_selection_detailed (selection_detailed_id, student_id, course_combination_id, 
      course_combination_name, gmt_create, gmt_modified
      )
    values (#{selectionDetailedId,jdbcType=BIGINT}, #{studentId,jdbcType=INTEGER}, #{courseCombinationId,jdbcType=INTEGER}, 
      #{courseCombinationName,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.goclass.pojo.Selectiondetailed">
    insert into tb_selection_detailed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="selectionDetailedId != null">
        selection_detailed_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="courseCombinationId != null">
        course_combination_id,
      </if>
      <if test="courseCombinationName != null">
        course_combination_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="selectionDetailedId != null">
        #{selectionDetailedId,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseCombinationId != null">
        #{courseCombinationId,jdbcType=INTEGER},
      </if>
      <if test="courseCombinationName != null">
        #{courseCombinationName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.goclass.pojo.SelectiondetailedExample" resultType="java.lang.Long">
    select count(*) from tb_selection_detailed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_selection_detailed
    <set>
      <if test="record.selectionDetailedId != null">
        selection_detailed_id = #{record.selectionDetailedId,jdbcType=BIGINT},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.courseCombinationId != null">
        course_combination_id = #{record.courseCombinationId,jdbcType=INTEGER},
      </if>
      <if test="record.courseCombinationName != null">
        course_combination_name = #{record.courseCombinationName,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_selection_detailed
    set selection_detailed_id = #{record.selectionDetailedId,jdbcType=BIGINT},
      student_id = #{record.studentId,jdbcType=INTEGER},
      course_combination_id = #{record.courseCombinationId,jdbcType=INTEGER},
      course_combination_name = #{record.courseCombinationName,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.goclass.pojo.Selectiondetailed">
    update tb_selection_detailed
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseCombinationId != null">
        course_combination_id = #{courseCombinationId,jdbcType=INTEGER},
      </if>
      <if test="courseCombinationName != null">
        course_combination_name = #{courseCombinationName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where selection_detailed_id = #{selectionDetailedId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goclass.pojo.Selectiondetailed">
    update tb_selection_detailed
    set student_id = #{studentId,jdbcType=INTEGER},
      course_combination_id = #{courseCombinationId,jdbcType=INTEGER},
      course_combination_name = #{courseCombinationName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where selection_detailed_id = #{selectionDetailedId,jdbcType=BIGINT}
  </update>
</mapper>