<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goclass.mapper.TimetableruleMapper">
  <resultMap id="BaseResultMap" type="com.goclass.pojo.Timetablerule">
    <id column="timetable_rule_id" jdbcType="BIGINT" property="timetableRuleId" />
    <result column="timetable_rule" jdbcType="VARCHAR" property="timetableRule" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    timetable_rule_id, timetable_rule, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.goclass.pojo.TimetableruleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_timetable_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_timetable_rule
    where timetable_rule_id = #{timetableRuleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_timetable_rule
    where timetable_rule_id = #{timetableRuleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.goclass.pojo.TimetableruleExample">
    delete from tb_timetable_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.goclass.pojo.Timetablerule">
    insert into tb_timetable_rule (timetable_rule_id, timetable_rule, gmt_create, 
      gmt_modified)
    values (#{timetableRuleId,jdbcType=BIGINT}, #{timetableRule,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.goclass.pojo.Timetablerule">
    insert into tb_timetable_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="timetableRuleId != null">
        timetable_rule_id,
      </if>
      <if test="timetableRule != null">
        timetable_rule,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="timetableRuleId != null">
        #{timetableRuleId,jdbcType=BIGINT},
      </if>
      <if test="timetableRule != null">
        #{timetableRule,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.goclass.pojo.TimetableruleExample" resultType="java.lang.Long">
    select count(*) from tb_timetable_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_timetable_rule
    <set>
      <if test="record.timetableRuleId != null">
        timetable_rule_id = #{record.timetableRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.timetableRule != null">
        timetable_rule = #{record.timetableRule,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_timetable_rule
    set timetable_rule_id = #{record.timetableRuleId,jdbcType=BIGINT},
      timetable_rule = #{record.timetableRule,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.goclass.pojo.Timetablerule">
    update tb_timetable_rule
    <set>
      <if test="timetableRule != null">
        timetable_rule = #{timetableRule,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where timetable_rule_id = #{timetableRuleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goclass.pojo.Timetablerule">
    update tb_timetable_rule
    set timetable_rule = #{timetableRule,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where timetable_rule_id = #{timetableRuleId,jdbcType=BIGINT}
  </update>
</mapper>